<div class="container">
  <br>
  <!-- logo section -->
  <app-header></app-header>
  <form [formGroup]="logInForm" style="padding-top: 30px;">
    <div class="p-col-12">
      <span class="p-float-label">
        <input id="username" type="text" formControlName="username" pInputText style="width: 100%;" autocomplete="off">
        <label for="username">ชื่อผู้ใช้งาน<span class="required-color">*</span></label>
      </span>
      <ng-container
        *ngIf="!logInForm.controls['username'].valid && (logInForm.controls['username'].dirty || logInForm.controls['username'].touched)">
        <p-message severity="error" class="p-message-validate" text="กรุณากรอกผู้ใช้งาน"
          *ngIf="logInForm.controls['username'].hasError('required')"></p-message>
      </ng-container>
    </div>

    <div class="p-col-12">
      <span class="p-float-label">
        <input id="password" type="password" formControlName="password" pInputText style="width: 100%;" autocomplete="off">
        <label for="password">รหัสผ่าน<span class="required-color">*</span></label>
      </span>
      <ng-container
        *ngIf="!logInForm.controls['password'].valid && (logInForm.controls['password'].dirty || logInForm.controls['password'].touched)">
        <p-message severity="error" class="p-message-validate" text="กรุณากรอกรหัสผ่าน"
          *ngIf="logInForm.controls['password'].hasError('required')"></p-message>
      </ng-container>
    </div>

    <div class="p-col-12">
      <div *ngIf="invalidLogin" style="color: #f0484e;font-size: larger;">Invalid username or password</div>
    </div>

    <button pButton style="border-radius: 8px;" type="button" label="ลงชื่อเข้าใช้" [disabled]="logInForm.invalid"
      (click)="onValidateUser()"></button>
  </form>
</div>
