<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:/logs/internallog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" 
            fileName="${configsetting:name=Logging.LogFolder}\${shortdate}.log"
            layout="${longdate:universalTime=true}|${iis-site-name}|${machinename}|${callsite:skipFrames=1:className=true:includeNamespace=false:fileName=false:methodName=false}|${callsite:skipFrames=1:className=false:cleanNamesOfAsyncContinuations=true:includeNamespace=false:fileName=false:methodName=true}|${callsite-linenumber:skipFrames=1}|${level}|${message}|${exception:format=@}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
  </rules>
</nlog>