<app-nav-menu></app-nav-menu>
<div class="main-container">
  <!-- logo section -->
  <app-header></app-header>

  <!-- Detail  -->
  <div style="text-align:center">
    <span style="color: #49bc63 ;font-size: larger;">บันทึกสำเร็จ</span>
  </div>
  <div style="text-align:center">
    <img src="../../assets/images/EWWOrWIU8AA6_u-.jpg" width="40%">
  </div>

  <div style="text-align: center; padding-top: 10px;">
    <div class="p-col-12">
      <span>ชื่อร้านค้า :</span> &nbsp; <span> ร้านตัวแทนจำหน่าย VOX</span>
    </div>
    <div class="p-col-12">
      <span>พิกัด :</span> &nbsp; <span> 13.8595721, 100.3593615 </span>
    </div>
    <div class="p-col-12">
      <span>เวลา :</span> &nbsp; <span> วันพฤหัสที่ 12 พ.ย. 63 เวลา 15.00 น. </span>
    </div>
  </div>

  <div style="text-align: center;">
    <button style="border-radius: 8px;" pButton type="button" label="กลับไปหน้าหลัก" (click)="onBackToCheckIn()"></button>
  </div>
</div>
