<app-nav-menu></app-nav-menu>

<!--toast message-->
<p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>

<div class="main-container">
  <!-- logo section -->
  <app-header></app-header>

  <!-- upload file section  -->
  <div style="text-align:center">
    <!-- <div class="empty-img-box" *ngIf="!isImage">
    </div> -->
    <div style="padding-top: 30px;">
      <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
      <div><img [src]="url" *ngIf="url" style="width: 50%;"></div>

      <!-- <span>Upload Picture</span> -->
      <input style="align-items: center;" type="file" (change)="selectFile($event)">
    </div>
  </div>

  <!-- Form Section  -->
  <form [formGroup]="checkInForm" style="padding-top: 30px;">


    <div class="p-col-12">
      <span class="p-float-label">
        <input id="name" type="text" formControlName="name" pInputText style="width: 100%;" autocomplete="off">
        <label for="name">ชื่อร้านค้า/ลูกค้า<span class="required-color">*</span></label>
      </span>
      <ng-container
        *ngIf="!checkInForm.controls['name'].valid && (checkInForm.controls['name'].dirty || checkInForm.controls['name'].touched)">
        <p-message severity="error" class="p-message-validate" text="กรุณากรอกชื่อร้านค้า/ลูกค้า"
          *ngIf="checkInForm.controls['name'].hasError('required')"></p-message>
      </ng-container>
    </div>

    <div class="p-col-12">
      <span class="p-float-label">
        <p-dropdown id="shopType" [options]="shopTypeSelectItems" formControlName="shopType" placeholder="&shy;"
          optionLabel="label" [showClear]="true" autoWidth="false" [style]="{ width: '100%' }">
        </p-dropdown>
        <label for="shopType" class="p-col-fixed" style="width:150px;">ประเภทร้านค้า<span
            class="required-color">*</span></label>
      </span>
      <ng-container
        *ngIf="!checkInForm.controls['shopType'].valid && (checkInForm.controls['shopType'].dirty || checkInForm.controls['shopType'].touched)">
        <p-message severity="error" class="p-message-validate" text="กรุณาเลือกประเภทร้านค้า"
          *ngIf="checkInForm.controls['shopType'].hasError('required')"></p-message>
      </ng-container>
    </div>


    <!-- customer type  -->
    <div class="p-col-12">
      <div class="p-formgroup-inline">
        <div class="p-field" style="width: 80px; padding-top: 0px;">
          <span>ประเภทลูกค้า<span class="required-color">*</span></span>
        </div>

        <div class="p-field-checkbox">
          <p-radioButton name="customerType" value="ลูกค้าเก่า" label="ลูกค้าเก่า"
            formControlName="selectedCustomerType">
          </p-radioButton>
        </div>
        <div class="p-field-checkbox">
          <p-radioButton name="customerType" value="ลูกค้าใหม่" label="ลูกค้าใหม่"
            formControlName="selectedCustomerType">
          </p-radioButton>
        </div>
      </div>
    </div>

    <!-- Province  -->
    <!-- <div class="p-field p-grid">
      <label for="province" class="p-col-fixed" style="width:150px;">จังหวัด<span
          class="required-color">*</span></label>
      <div class="p-col">
        <p-dropdown id="province" [options]="provinceSelectItems" formControlName="province" placeholder="&shy;"
          optionLabel="label" [showClear]="true" autoWidth="false" [style]="{ width: '100%' }">
        </p-dropdown>
      </div>
    </div> -->

    <div class="p-col-12">
      <span class="p-float-label">
        <p-dropdown id="province" [options]="provinceSelectItems" formControlName="province" placeholder="&shy;"
          optionLabel="label" [showClear]="true" autoWidth="false" [style]="{ width: '100%' }">
        </p-dropdown>
        <label for="province" class="p-col-fixed" style="width:150px;">จังหวัด<span
            class="required-color">*</span></label>
      </span>
      <ng-container
        *ngIf="!checkInForm.controls['province'].valid && (checkInForm.controls['province'].dirty || checkInForm.controls['province'].touched)">
        <p-message severity="error" class="p-message-validate" text="กรุณาเลือกจังหวัด"
          *ngIf="checkInForm.controls['province'].hasError('required')"></p-message>
      </ng-container>
    </div>

    <div class="p-col-12">
      <span class="p-float-label">
        <p-dropdown id="amphur" [options]="amphurSelectedItems" formControlName="amphur" placeholder="&shy;" [disabled]="!isProvinceSelected"
          optionLabel="label" [showClear]="true" autoWidth="false" [style]="{ width: '100%' }">
        </p-dropdown>
        <label for="amphur" class="p-col-fixed" style="width:150px;">อำเภอ<span
            class="required-color">*</span></label>
      </span>
      <ng-container
        *ngIf="!checkInForm.controls['amphur'].valid && (checkInForm.controls['amphur'].dirty || checkInForm.controls['amphur'].touched)">
        <p-message severity="error" class="p-message-validate" text="กรุณาเลือกอำเภอ"
          *ngIf="checkInForm.controls['amphur'].hasError('required')"></p-message>
      </ng-container>
    </div>

    <div class="p-col-12">
      <span class="p-float-label">
        <p-dropdown id="district" [options]="districtSelectItems" formControlName="district" [disabled]="!isAmphurSelected"
          placeholder="&shy;" optionLabel="label" [showClear]="true" autoWidth="false" [style]="{ width: '100%' }">
        </p-dropdown>
        <label for="district" class="p-col-fixed" style="width:150px;">ตำบล<span
            class="required-color">*</span></label>
      </span>
      <ng-container
        *ngIf="!checkInForm.controls['district'].valid && (checkInForm.controls['district'].dirty || checkInForm.controls['district'].touched)">
        <p-message severity="error" class="p-message-validate" text="กรุณาเลือกตำบล"
          *ngIf="checkInForm.controls['district'].hasError('required')"></p-message>
      </ng-container>
    </div>

    <!-- Report  -->
    <div class="p-col-12">
      <div class="p-formgroup-inline">
        <div class="p-field" style="width: 80px; padding-top: 0px;">
          <span>รายงาน<span class="required-color">*</span></span>
        </div>
        <div class="p-field-checkbox">
          <p-radioButton name="report" value="ซื้อสินค้า" inputId="buy" formControlName="selectedReport">
          </p-radioButton>
          <label for="buy">ซื้อสินค้า</label>
        </div>
        <div class="p-field-checkbox">
          <p-radioButton name="report" value="ไม่ซื้อสินค้า" inputId="notBuy" formControlName="selectedReport">
          </p-radioButton>
          <label for="notBuy">ไม่ซื้อสินค้า</label>
        </div>
      </div>
    </div>

    <div class="p-col-12">
      <span class="p-float-label">
        <textarea name="note" pInputTextarea [rows]="5" [cols]="35" formControlName="note"></textarea>
        <label class="p-col-fixed" style="width:150px;" for="note">หมายเหตุ</label>
      </span>
    </div>

    <div style="text-align: center;">
      <button style="border-radius: 8px;" pButton type="button" label="Check in" (click)="onCheckIn()" [disabled]="checkInForm.invalid"></button>
    </div>
  </form>
</div>
